div#body{
	font-family: "Crimson Text", serif;
	font-size: 120%;
	text-align: center;
	line-height: 1.5;
	color: black;
	background-color: #F2FFFC;
	position: absolute;
	top:0;
	left:0;
	z-index:11;
	width: 100%;
	height: 100%;
}

div#header {
	text-align: center;
	color: #851944;
	box-sizing: border-box;

	border: 5px dotted #c2ccca;
	border-radius: 20px;
}

div#main{
	margin-top: 35px;
	margin-left: 35px;
	padding: 10px;

	position: absolute;
	width: 90%;
	height: 60%;
}

div#footer{
	font-size: 80%;
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;

	width: 98%;
	padding: 2px;
	text-align: center;

	border: 5px dotted #c2ccca;
	border-radius: 20px;
}