extends layout

block content
  form(action="/", method="post" onsubmit="return check()")
    input#id(type='text', hidden=true, name='clientId', value='lojaOnline')
    include components/client.jade
    include components/payment.jade
    include components/card.jade
    input#ok(type="submit", value="Confirmar")