doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/fieldsValidator.js')
    script(type='text/javascript' src='/javascripts/creditCardValidator.js')
  body
    div#header
      h1=title
    div#main
      block content
    div#footer
      |&copy;Jenifer Gomes Azevedo - 2018.