fieldset(false)
    legend Cartão
    div#card
        label(for="cardHolderName") Titular: 
        input#ccname.cardreq(type="text", name="cardHolderName")
        br
        label(for="cardNumber") Número: 
        input#ccnumber.cardreq.value(type="text", name="cardNumber", onchange='checkBrand()')
        label#brand(for="cardNumber")  
        br
        label(for="cardExpirationDate") Vencimento: 
        input#ccexpiration.cardreq.date(type="date", name="cardExpirationDate")
        br
        label(for="cardCVV") CVV: 
        input#cvv.cardreq.value(type="text", name="cardCVV")