fieldset(false)
    legend Dados Pessoais
    div#client
        label(for='name') Nome: 
        input#name.required(type='text', name='name')
        br
        label(for='email') Email: 
        input#email.required(type='email', name='email')
        br
        label(for='cpf') CPF: 
        input#cpf.required(type='text', name='cpf')