fieldset(false)
    legend Pagamento
    div#payment
        label(for="amount") Valor (R$): 
        input#amount.required.value(type="text", name="amount")
        br
        label Tipo de Pagamento: 
        .radio
            input#boleto(type="radio", name="paymentType", value="BOLETO")
            | Boleto
        .radio
            input#ccard(type="radio", name="paymentType", value="CREDIT_CARD")
            | Cartão